<div class="container">
  
  
  
    <h1 class="title">Welcome to Our Application</h1>
    <p class="lead">Explore our features and enjoy the experience!</p>
    <hr class="divider">
    <p>To get started, click the button below.</p>

  <nav class="navbar">
    <ul class="nav-list">
      <li class="nav-item">
        <a   class="nav-link" routerLink="/users"  routerLinkActive="active" ariaCurrentWhenActive="page"> Users</a>
      </li>
    </ul>
  </nav>
</div>




<router-outlet></router-outlet>