
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .jumbotron {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white;
    padding: 40px 20px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .title {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  .lead {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .divider {
    border: 0;
    height: 1px;
    background: #e0e0e0;
    margin: 20px 0;
  }
  
 
  
  .navbar {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  .nav-item {
    margin: 0 10px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #007bff;
    font-size: 1.25rem;
    transition: color 0.3s;
  }
  
  .nav-link.active {
    font-weight: bold;
    color: #0056b3;
  }
  
  .nav-link:hover {
    color: #0056b3;
  }
  