<div class="container">
  <h1>Liste des utilisateurs</h1>
  <table class="user-table">
    <thead>
      <tr>
        <th>Picture</th>
        <th>Gender</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>City</th>
        <th>Country</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userResults | paginate: { itemsPerPage: pageSize, currentPage: page }">
        <td><img [src]="user.picture.medium" alt="User Picture"></td>
        <td>{{ user.gender }}</td>
        <td>{{ user.name.first }}</td>
        <td>{{ user.name.last }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.location.city }}</td>
        <td>{{ user.location.country }}</td>
        <td>
          <button class="details-button" (click)="showDetails(user)">Details</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="button-container">
    <button class="back-button" (click)="BackToHome()">Back</button>
  </div>
  
</div>